<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Please Wait...</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body class="interstitial-body">
    <div class="interstitial-container">
        <h1>Your ebook is almost ready!</h1>

        <div class="timer-box">
            <p>Please wait <span id="countdown">5</span> seconds...</p>
            <a id="continue-btn" href="<%= originalUrl %>" class="btn disabled">Continue</a>
        </div>
    </div>
    </script>
</body>

</html>